body.lock {
	overflow: hidden;
}

html {
	scrollbar-gutter: stable;
}

.hidden {
	display: none;
}


#hidden_form {
	/* max-width: 320px; */
	margin: 0 auto;
	position: relative;
	min-height: 330px;
	background: rgba(255, 255, 255, 0.8);
	padding-top: 40px;
}


#hidden_form button.mfp-close {
	height: 53px;
	width: 49px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding-bottom: 20px;
}

.btnAndConfid {
	max-width: 265px;
	margin: auto;
	text-align: center;
}

#hidden_form .btnAndConfid {
	display: block;
	float: none;
	width: 100%;
	margin: auto;
	max-width: 100%;
}

/* #hidden_form input {
	margin: auto;
	display: block;
	width: 80%;
	float: none;
	margin-top: 20px;
	color: #222;
	font-size: 16px;
	border-color: #777;
} */

#hidden_form .btnAndConfid button {
	margin: auto;
	margin-top: 20px;
}

.btnAndConfid {
	max-width: 265px;
	margin: auto;
	text-align: center;
}

#hidden_form .btnAndConfid {
	display: block;
	float: none;
	width: 100%;
	margin: auto;
	max-width: 100%;
}

#hidden_form .btnAndConfid button {
	margin: auto;
	margin-top: 20px;
}